# Executable
matrix_project

# Object files
*.o

# Temporary/editor files
*.swp
*.tmp

# VS Code
.vscode/

# Build folders
build/

# Benchmark outputs
results/*.csv
results/analysis/

# VENV Python
.venv/
__pycache__/
*.pyc

# Codex Resources
agent.md

# Presentations
presentations/
